.card{
    
    .cardDark{
        background-color: $primary;
        color: white
    }

    .cardContainer{
        display: flex;
        flex-direction: column;
        margin: 0px 10%;
        border-radius: 10px;
        padding-top: 25px;
        box-shadow: 0px 0px 17px 10px #FFFFFF;
    

    .imageContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        width: 100%;
        overflow: hidden;       
        cursor:pointer;
    }

    .cardTitle{
        text-align:center;
        padding: 0px 10px;
    }
}
}

