.imagePanel{
    display: none; 
    flex-direction: column; 
    background-color:rgba(0,0,50, 0.75);
    width:100vw;
    height:100vh;
    position:fixed; 
    justify-content:center;
    align-items:center; 
    z-index:999;
    top:0;
    .imagePanelImage{
        box-shadow: 0px 0px 17px 10px #FFFFFF;
    }
    .controlContainer{
        margin-top:.5em; 
        align-items:center; 
        width: 25%; 
        color: white; 
        font-size:3em; 
        display: flex;
        justify-content:space-between;

        a{
            color: white; 
            text-decoration:none;
        }

        .imagePanelClose{
            cursor: pointer;
        }

    }
}