.searchModal {
  position: absolute;
  left: 5%;
  width: 90%;
  z-index: 99;
  background-color: white;
  border-radius: 15px;
  top: 20%;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px #000000; }
  .searchModal .modalHeader {
    display: flex;
    justify-content: flex-start; }
    .searchModal .modalHeader .close {
      font-size: 200%;
      margin-right: 40px;
      border-radius: 50px;
      cursor: pointer; }
